<html>
	<head>
		<link rel='stylesheet' href='/web/css/glyphicons.css' />
		<link rel='stylesheet' href='/css/obsidian.css|core.less' />
	</head>

	<body>
		{% include lang ~ '/header.html.twig' %}
		{% include lang ~ '/' ~ active ~ '.html.twig' %}
	</body>
</html>