SetEnv PHP_VER 5_4
SetEnv HELO prod

RewriteEngine on

RewriteRule ^$ heloPHP/src/index.php/ [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ heloPHP/src/index.php/$1
